$color-medium-blue: #2e3040;
$color-dark-blue: #232536;
$color-yellow: #ffd050;
$color-purple: #592ea9;
$color-dark-gray: #4c4c4c;
$color-medium-gray: #6d6e76;
$color-light-gray: '#F0F0F0 ';
$color-light-gray: #f4f4f4;
$color-light-purple: #f4f0f8;
$color-light-yellow: #fbf6ea;
$color-white: #fff;
$color-black: #000;

$color-green: green;
$color-red: red;

$color-medium-gray-10: #6d6e7610;
$color-medium-gray-30: #6d6e7630;
$color-medium-gray-32: #6d6e7632;
$color-medium-gray-40: #6d6e7640;
