$fSize130px: 130px;
$fSize56px: 56px;
$fSize48px: 48px;
$fSize36px: 36px;
$fSize28px: 28px;
$fSize24px: 24px;
$fSize20px: 20px;
$fSize18px: 18px;
$fSize16px: 16px;
$fSize14px: 14px;

$fWeight900: 900;
$fWeight700: 700;
$fWeight600: 600;
$fWeight500: 500;
$fWeight400: 400;

$lHeight130px: 130px;
$lHeight64px: 64px;
$lHeight48px: 48px;
$lHeight40px: 40px;
$lHeight36px: 36px;
$lHeight32px: 32px;
$lHeight28px: 28px;
$lHeight24px: 24px;
$lHeight20px: 20px;
