@import '@/styles/breakpoints.scss';
@import '@/styles/spacings.scss';
@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';

body {
  background-color: $color-white;
  padding-top: $s80px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100dvh;
}

h1 {
  font-size: $fSize48px;
  font-weight: $fWeight700;
  line-height: $lHeight64px;
  letter-spacing: -$lSpacing2px;
  color: $color-dark-blue;

  @media (max-width: $mobileL) {
    font-size: $fSize36px;
    line-height: $lHeight48px;
  }
}

h2 {
  font-size: $fSize36px;
  font-weight: $fWeight700;
  line-height: $lHeight48px;
  letter-spacing: -$lSpacing2px;
  color: $color-dark-blue;

  @media (max-width: $mobileL) {
    font-size: $fSize28px;
    line-height: $lHeight32px;
    letter-spacing: -$lSpacing1px;
  }
}

h3 {
  font-size: $fSize28px;
  font-weight: $fWeight700;
  line-height: $lHeight40px;
  letter-spacing: -$lSpacing1px;

  @media (max-width: $mobileL) {
    font-size: $fSize24px;
    line-height: $lHeight28px;
  }
}

h4 {
  font-size: $fSize24px;
  font-weight: $fWeight700;
  line-height: $lHeight32px;

  @media (max-width: $mobileL) {
    font-size: $fSize20px;
    line-height: $lHeight24px;
  }
}

h5 {
  font-size: $fSize20px;
  font-weight: $fWeight700;
  line-height: $lHeight32px;

  @media (max-width: $mobileL) {
    line-height: $lHeight24px;
  }
}

a {
  text-decoration: none;
}

.mapboxgl-popup-content {
  color: $color-dark-blue;
  text-align: center;
}
