$s4px: 4px;
$s8px: 8px;
$s12px: 12px;
$s16px: 16px;
$s18px: 18px;
$s20px: 20px;
$s24px: 24px;
$s32px: 32px;
$s40px: 40px;
$s48px: 48px;
$s56px: 56px;
$s75px: 75px;
$s80px: 80px;
$s92px: 92px;
$s96px: 96px;
$s122px: 112px;
$s128px: 128px;
$s192px: 192px;
