$s4px: 4px;
$s8px: 8px;
$s12px: 12px;
$s16px: 16px;
$s18px: 18px;
$s20px: 20px;
$s24px: 24px;
$s32px: 32px;
$s40px: 40px;
$s48px: 48px;
$s52px: 52px;
$s56px: 56px;
$s64px: 64px;
$s68px: 68px;
$s75px: 75px;
$s80px: 80px;
$s92px: 92px;
$s96px: 96px;
$s108px: 108px;
$s112px: 112px;
$s118px: 118px;
$s128px: 128px;
$s188px: 188px;
$s192px: 192px;
