$primary-font: var(--font-sen);
$secondary-font: var(--font-openSans);

$fSize56px: 56px;
$fSize48px: 48px;
$fSize36px: 36px;
$fSize28px: 28px;
$fSize24px: 24px;
$fSize20px: 20px;
$fSize16px: 16px;
$fSize14px: 14px;

$fWeight700: 700;
$fWeight500: 500;
$fWeight400: 400;

$lHeight64px: 64px;
$lHeight48px: 48px;
$lHeight36px: 36px;
$lHeight32px: 32px;
$lHeight28px: 28px;
$lHeight24px: 24px;
$lHeight20px: 20px;

$s8: 8px;
$s12: 12px;
$s16: 16px;
$s18: 18px;
$s20: 20px;
$s24: 24px;
$s32: 32px;
$s40: 40px;
$s48: 48px;
$s56: 56px;
$s75: 75px;
$s80: 80px;
$s92: 92px;
$s96: 96px;
$s122: 112px;
$s128: 128px;
$s192: 192px;

$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;

$mobileS: 380px;
$mobileM: 450px;
$mobileL: 650px;
$tabletS: 768px;
$tabletM: 885px;
$laptopS: 1000px;
$laptopM: 1100px;
$desktopS: 1200px;
$desktopM: 1300px;
$desktopL: 1400px;

$color-dark-blue: #232536;
$color-yellow: #ffd050;
$color-purple: #592ea9;
$color-dark-gray: #4c4c4c;
$color-medium-gray: #6d6e76;
$color-light-gray: #f4f4f4;
$color-light-purple: #f4f0f8;
$color-light-yellow: #fbf6ea;
