@import '@/styles/breakpoints.scss';
@import '@/styles/spacings.scss';
@import '@/styles/colors.scss';

.loading_my_blog {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 64px;
  border: 1px solid $color-medium-gray-40;

  @media (max-width: $tabletS) {
    margin-top: $s32px;
  }
}
