@import '@/styles/breakpoints.scss';
@import '@/styles/spacings.scss';
@import '@/styles/colors.scss';

.author_header_content {
  display: flex;
  align-items: center;
  gap: $s32px;
  max-width: 1024px;
  margin: 0 auto;

  @media (max-width: $laptopM) {
    flex-direction: column;
  }

  &_image {
    flex: 0 0 251px;
    height: 294px;

    @media (max-width: $laptopM) {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & p {
    margin-top: $s24px;
    margin-bottom: $s24px;
  }
}
