@import '@/styles/breakpoints.scss';
@import '@/styles/durations.scss';
@import '@/styles/spacings.scss';
@import '@/styles/colors.scss';

.mobile_menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 50%;
  height: 100%;
  padding-top: $s80px;
  background-color: $color-dark-blue;
  transition: transform $d250ms ease;
  transform: translateX(100%);
  will-change: transform;

  @media (max-width: $tabletS) {
    width: 400px;
  }

  @media (max-width: $mobileL) {
    width: 70%;
  }

  & > nav {
    margin-bottom: $s48px;
  }

  & > div:nth-of-type(1) {
    margin-left: 0;
  }

  & > label:nth-of-type(1) {
    margin-left: 0;
    margin-top: $s48px;
  }
}

.active {
  transform: translateX(0);
}
