@import '@/styles/breakpoints.scss';
@import '@/styles/colors.scss';

.loading_posts {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid $color-medium-gray-40;

  @media (max-width: $desktopS) {
    height: 200px;
  }
}
