@import '@/styles/breakpoints.scss';
@import '@/styles/spacings.scss';

.blog_header_information {
  flex: 1 1 48.75%;

  @media (max-width: $tabletM) {
    flex: unset;
  }

  & > h2 {
    margin-top: $s20px;
    margin-bottom: $s16px;
  }

  & > p:last-of-type {
    margin-top: $s16px;
    margin-bottom: $s32px;
  }

  & > div {
    margin-top: 0;
  }
}

.blog_header_image {
  flex: 1 1 40.23%;

  @media (max-width: $tabletM) {
    flex: unset;
    width: 100%;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
